/* - CSS Document for Comic Theme - */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    }

header {
    height: 450px;
    background: url(http://lorempixel.com/1300/300/nature/3/) center center;
    background-size: cover;
}

header .logo {
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px 0px 0px 30px;
}

nav {
    float: right;
    margin: 30px 30px 0px 0px;
    display: block;
}

nav a {
    display: block;
    margin-left: 20px;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: rgba(0,0,0,1);
}

h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    clear: both;
    padding-top: 100px;
}

h1 span {
    display: block;
    padding: 0.2em 0.5em;
    border: white solid 10px;
}

.kicker {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1;
}

footer {
    background: url(../images/sunset.jpg) center center;
    background-size: cover;
    clear: both;
}

.lockup {
    margin: 30px;
    padding: 30px;
}

.lockup .logo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 30px;
}

.content-wrap {
    float: left;
}

.copyright {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}

footer a {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0,0,0,0.5);
    display: inline-block;
    margin-right: 30px;
}


footer a:hover {
    color: rgba(0,0,0,0.7);
}

footer path {
    fill: rgba(0,0,0,0.5);
}