div {
    border-radius: 2px;
}

#container {
    overflow: hidden;
}

#header {
    z-index: 1;
    position: fixed;
    width: 99.5%;
    margin-top: -20px;
    height: 60px;
    background-color: #668284;
    margin-bottom: 10px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
}

#name {
    float:left;
    margin-left: 5px;
    padding-top: 0px;
    font-size: 24px;
    font-family: Calibri, sans-serif;
}

#name a {
    color: #fff;
}

#email{
    float:right;
    margin-right: 5px;
    padding-top: 4px;
    font-size: 20px;
    font-family: Calibri, sans-serif;
    color: #fff;
}

h4 {
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 15px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
}

.right p {
    margin: -10px 5px -5px 24px;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 1;
}

.workdates {
    position: relative;
    text-align: right;
    margin-top: -22px;
    padding-right: 2%;
}

ul li {
    margin-left: 24px;
    list-style-type: disc;
    font-family: Calibri, sans-serif;
}

#edu {
    list-style-type: none;
    margin-left: 12px;
}

a {
    color: #890101;
    text-decoration: none;
    -webkit-transition: 0.2s color linear;
    -moz-transition: 0.2s color linear;
    -o-transition: 0.2s color linear;
    transition: 0.2s color linear;
}

a:hover {
    color: #DF3030;
}

.left {
    position: relative;
    float: left;
    margin-top: 50px;
    width: 10%;
    background-color: #B9D7D9;
    padding-bottom: 500em;
    margin-bottom: -500em;
    overflow: hidden;
}

.right {
    position: relative;
    float: right;
    margin-top: 50px;
    width: 89%;
    background-color: #F4EBC3;
    padding-bottom: 500em;
    margin-bottom: -500em;
    overflow: hidden;
}

.small-section {
    -webkit-transition: 0.3s background linear;
    -moz-transition: 0.3s background linear;
    -o-transition: 0.3s background linear;
    transition: 0.3s background linear;
}

.small-section:hover {
    background: rgba(0,0,0,0.2);
}

#footer {
    border-radius: 2px;
    position: relative;
    height: 50px;
    background-color: #668284;
    clear: both;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

#footer p {
    position: relative;
    padding-top: 15px;
}

.asian {
/*    font-family: KaiTi, "STKaiTi", "Kai", "Fang Song", "FangSong";*/
    font-family: "KaiTi", "STKaiTi", "Kai", "Fang Song", "FangSong";
}

.body {
    float: left;
    position: relative;
    margin-top: 50px;
    width: 90%;
}

footer {
    position: relative;
    padding-bottom: 5%;
    clear: both;
    color: gray;
}

#host {
    float: left;
}

#author {
    float: right;
}

#redirect {
    float: right;
    position: relative;
    padding-left: 40px;
}

#webContent {
    padding-left: 40px;
}

table#skillz {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#skillz td, #skillz tr, #manytitle td, #manytitle tr {
    padding: 5px 15px;
    background-color: transparent;
}

#manytitle th {
    padding: 5px 15px;
}

.secondarytitle {
    background-color: transparent;
    color: blue;
}

table#manytitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px;
}

table {
    margin-left: 40px;
    margin-bottom: 40px;
}

table, td {
    border-collapse: collapse;
    border: 2px solid rgba(0,0,0,0.1);
    font-family: Calibri, sans-serif;
}

td, th {
    padding: 5px 15px;
}

table tr:nth-child(even) {
     background-color: #fff;
}
table tr:nth-child(odd) {
     background-color: #ccc;
}
table th {
    color: white;
    background-color: rgba(0,0,0,0.4);
} 

img {
    font-family: Calibri, sans-serif;
    font-size: 12px;
    line-height: 1;
    display: block;
    border: 1px dotted silver;
}