doctype html
html(lang="en")
  head
    title Thanks!
    meta(charset="utf-8")
    meta(name="author", content="Marvin Alcantara")
    
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Nunito:400,300,700|Righteous|Marck+Script", type="text/css")
    meta(name="viewport", content="width=device-width")
    
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css", media="screen", type="text/css")
    script(src="js/modernizer.js")
  body
    header.header
      .container
        h1.site-title Contact
        span.site-tagline Thanks!
    nav.main-nav
      .container
        ul
          li.mobile-button
            a(href="#") Menu
          li
            a(href="/") About
          li
            a(href="#") Notes
            ul
              li
                a(href="/notes/as-am") As - Am Studies
              li
                a(href="/notes/bible-studies") Bible Studies
              li
                a(href="/notes/chn") Chinese
              li
                a(href="/notes/geo") Geography
              li
                a(href="/notes/meteor") Meteorology
          li
            a(href="/works/") Works
            ul
              li
                a(href="/works/artist-theme") Artist's Theme
              li
                a(href="/works/video-theme") Video Theme
              li
                a(href="/works/fixnav") Fixed Nav Bar
          li
            a(href="/resume") R&eacute;sum&eacute;
          li
            a(href="/contact") Contact
    section.content
      .full-bleed.cool-photo-geo
      article.post
        .container
          h2 Get in touch with me!
          .columns
            .item(style="width=100%")
              p Thank you for your interest! I will get back to you as soon as I can.
              a(href="/contact") Return